<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>Create New Post</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <p>Type in the field below your Blog Title and blog post</p>
                            <div class="my-5">
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- * * SB Forms Contact Form * *-->
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- This form is pre-integrated with SB Forms.-->
                                <!-- To make this form functional, sign up at-->
                                <!-- https://startbootstrap.com/solution/contact-forms-->
                                <!-- to get an API token!-->
                                <form action="/posts/store" method="post" enctype="multipart/form-data">
                                    <div class="form-floating">
                                        <input class="form-control" id="title" name="title" type="text" placeholder="Enter Blog Title..." data-sb-validations="required" />
                                        <label for="title">Blog Title</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A Title is required.</div>
                                    </div>
                                    <div class="form-floating">
                                        <textarea rows="5" class="form-control" id="body" name="body" placeholder="Enter your post here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                        <label for="body">Blog Content Body</label>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">Please Enter Blog Content</div>
                                    </div>
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Image</label>
                                            <input type="file" class="form-control" id="image" name="image">
                                        </div>
                                    </div>
                                    <br />
                                    <!-- Submit Button-->
                                    <button class="btn btn-primary text-uppercase" id="sendMessageButton" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Bootstrap core JS-->
                <%- include('layouts/scripts'); -%>
    </body>

</html>