<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>404 NOT FOUND</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Bootstrap core JS-->
                <%- include('layouts/scripts'); -%>
    </body>

</html>